<!DOCTYPE html>
<html lang="es">
{{>partials/head}}
<body data-theme="light">

{{>partials/header}}

<main>
    <section class="hero">
        <div class="container">
            <h1>{{heroTitle}}</h1>
            <p>{{heroText}}</p>
        </div>
    </section>

    <section class="vinyl-gallery">
        <div class="container">
            <div class="vinyl-grid">
                {{#vinyls}}
                <article class="vinyl-card">
                    <a href="{{href}}" class="vinyl-card-link">
                        <img src="{{image}}" alt="{{alt}}">
                        <div class="card-content">
                            <h3 class="vinyl-title">{{title}}</h3>
                            <p class="vinyl-artist">{{artist}}</p>
                            <div class="card-footer">
                                <span class="vinyl-genre">{{genre}}</span>
                                <span class="vinyl-price">{{price}}</span>
                            </div>
                        </div>
                    </a>
                </article>
                {{/vinyls}}
            </div>
        </div>
    </section>
</main>

{{>partials/footer}}
{{#showCartDrawer}}
{{>partials/cart-drawer}}
{{/showCartDrawer}}

<script src="/js/script.js"></script>
</body>
</html>